.navbar-container {
	height: 90px;
}

.navbar-container a {
    color: $brand-success !important;
    text-decoration: none;
}

.navbar-container p {
    color: $brand-success !important;
}

.navbar-container i {
    color: $brand-success !important;
}

.navbar-container .nav-logo img {
    margin-top: 8px !important;
}

.navbar-container .row {
	margin-right: 20px !important;
}

.profile-img a {
    padding-top: 0px !important;
}

.profile-img img {
    max-width: 50px !important;
}

.navbar-menu {
	margin-top: 20px;
}

.navbar-menu .active a {
    color: #fff !important;
    background-color: $brand-success !important;
}