.navbar-login {
	height: 120px;
}

.navbar-login a {
    color: #000 !important;
    text-decoration: none;
}

.navbar-login p {
    color: #000 !important;
}

.navbar-login .fb {
    color: #4267b2 !important;
}

.navbar-login .tw {
    color: #1da1f2 !important;
}

.navbar-login .ld {
    color: #006fa6 !important;
}

.navbar-login .yt{
    color: #cc181e !important;
}

.navbar-login .row {
	margin-right: 20px !important;
}

.container-login {
	margin-top: 3%;
}

.container-login button {
    margin-top: 18px;
}

.input-login {
	margin-bottom: 20px;
}