.navbar-login {
	height: 110px;
}

.navbar-login a {
    color: #FFF !important;
    text-decoration: none;
}

.navbar-login p {
    color: #FFF !important;
}

.navbar-login i {
    color: #FFF !important;
}

.navbar-login .row {
	margin-right: 20px !important;
}

.container-login {
	margin-top: 3%;
}

.container-login button {
    margin-top: 18px;
}